<div class="post">
  <div class="user-name-post">
    <img class="profile-image" src="{{post.user_id.image}}" alt="user-image" />
    <a class="username-header-post" href="/profile/{{post.user_id._id}}">{{post.user_name}}</a>
  </div>
  <div class="img-block">
    <img src="{{post.urlMedia}}" />
  </div>

  <div class="desc-post">
  <div class="like-section">
 
      <i style="color: Tomato ; font-size: 25px ; cursor:pointer"
      {{#isLiked ../currentUser._id post.likes}}

      {{/isLiked}}
      data-id="{{post.user_id._id}}"
      data-postid="{{post._id}}"
      data-currentuser="{{../currentUser._id}}"
    ></i>
      <span class="likes-count">{{post.likes.length}} <span style="font-weight: 700; margin-bottom:30px">Likes</span> </span>
      {{#if post.description}}
    <p><span style="font-weight: 700;">{{post.user_name}} :</span>{{post.description}}</p>
      {{/if}}
    </div>
  
  </div>
  {{#compare post.user_id._id currentUser._id operator="=="}}
  <div id="buttons-post-page">
    <a class="btn btn-validate" href="/posts/update/{{post._id}}">EDIT</a>
    <a
      id="btn-delete-image"
      href="/posts/delete/{{post._id}}"
      class="btn btn-delete"
      data-id="{{post._id}}"
      data-filename="{{post.filename}}"
    >Delete</a>
    </div>
  {{/compare}}
</div>
<div class="blur-body"></div>

