{{! ⬇︎⬇︎⬇︎⬇︎⬇︎ Event preview (Minyoung) ⬇︎⬇︎⬇︎⬇︎⬇︎ }}
<div class="eventPreview">
  {{#each events}}
    <div class="oneEventPreview">
      {{> modal this}}
      <a class="btn-modal"><img src="{{this.image}}"/></a>
    </div>
  {{/each}}
</div>
{{! ⬆︎⬆︎⬆︎⬆︎⬆︎ Event preview (Minyoung) ⬆︎⬆︎⬆︎⬆︎⬆︎ }}

<section class="section-timeline-post">
  {{#unless users}}
    <p>Sorry, no users yet !</p>
  {{/unless}}
  {{#each sortedPosts}}
  {{!-- {{likedPost}} --}}

  <div>
 
    <div width="500px">
      <a href="/profile/{{this.user_id}}">{{this.user_name}}</a>
      <img src="{{this.urlMedia}}" />
    </div>
    <span class="likes-count">{{this.likes.length}}</span>
    <i
      {{#isLiked ../currentUser._id this.likes}}

{{/isLiked}}
      data-id="{{this.user_id}}"
      data-postid="{{this._id}}"
      data-currentuser="{{../currentUser._id}}"
    ></i>
  </div>
   <div class="blur-body"></div>
  {{/each}}
  
</section>