{{#compare currentUser._id user._id operator="=="}}
  <a href="/settings/{{user._id}}">Settings</a>
{{/compare}}

<span id="followers-count">{{user.followers.length}}</span>
<span id="following-count">{{user.following.length}}</span>
{{#compare currentUser._id user._id operator="!="}}
  <button
    id="follow"
    data-id="{{user._id}}"
    data-currentuser="{{currentUser._id}}"
  >
 {{#if followedUser}}

    Unfollow
  {{else}}
   Follow
  {{/if}}
  </button>
{{/compare}}

{{#each user}}
  <img src="{{this.image}}" alt="" />
  <h1>{{this.name}}</h1>
{{/each}}

{{#if user.posts}}
  {{#each user.posts}}
    <img src="{{this.urlMedia}}" alt="{{this.name}}media" />
  {{/each}}
{{/if}}

{{#unless user.posts}}
  <h2>No pictures yet !</h2>
{{/unless}}