<div class="header-profile">
  {{! <div class="inside-header-profile"> }}

  <img class="profile-image" src="{{user.image}}" alt="" />

  <div class="info-header">
    <div class="profile-header">
      <h2>{{user.name}}</h2>
      <div>
        {{#compare currentUser._id user._id operator="=="}}
          <a class="edit-profile" href="/settings/{{user._id}}">Edit Profile</a>

        {{/compare}}

        {{#compare currentUser._id user._id operator="!="}}
          <button
            {{#if followedUser}}
              class="unfollow"
              {{else}}
                class="follow"
            {{/if}}
            {{! class="follow" }}
            id="follow"
            data-id="{{user._id}}"
            data-currentuser="{{currentUser._id}}"
          >
            {{#if followedUser}}
              Unfollow
            {{else}}
              Follow
            {{/if}}
          </button>
        {{/compare}}
      </div>
    </div>
    <div class="infos">
      <span><strong>{{user.posts.length}}</strong> posts</span>
      <span id="followers-count"><strong>{{user.followers.length}}</strong>
        followers</span>
      <span id="following-count"><strong>{{user.following.length}}</strong>
        following
      </span>
    </div>
    <p><strong class="strong">{{user.name}} {{user.lastname}}</strong><br
      />{{user.bio}}</p>
    {{! </div> }}
  </div>

</div>

<div class="user-pictures">
  {{#if user.posts}}
    {{#each user.posts}}
      <img 
        class="user-picture"
        src="{{this.urlMedia}}"
        alt="{{this.name}}media"
      />
    {{/each}}
  {{/if}}
</div>

{{#unless user.posts}}
  <h2>No pictures yet !</h2>
{{/unless}}