<div id="page-edit">
  <h1>Edit Profile</h1>
  <div id="profile-update">
    <div style="display: flex; align-items: center; gap:20px">
      <img src="{{user.image}}" />
      <p>{{user.name}}</p>
    </div>
    <p>Chose your best hacker name !</p>
  </div>

  <form
    id="form-edit"
    action="/settings/edit/{{user._id}}"
    method="post"
    enctype="multipart/form-data"
  >

    <div class="content-input">
      <label for="name">Name </label>
      <input type="text" id="name" name="name" required value="{{user.name}}" />
    </div>

    <div class="content-input">
      <label for="lastname">Lastname </label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        required
        value="{{user.lastname}}"
      />
    </div>

    <div class="content-input">
      <label for="email">Email </label>
      <input
        type="text"
        id="email"
        name="email"
        required
        value="{{user.email}}"
      />
    </div>
    <div class="content-input">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        value="{{user.password}}"
      />
    </div>
    <span>What's Poppin ?</span>
    <div class="content-input">
      <label for="bio">Bio</label>
      <input type="text" id="bio" name="bio" value="{{user.bio}}" />
    </div>

    <div class="content-input">
      <label for="image">Image</label>
      <input type="file" id="image" name="image" />
      <input
        type="file"
        id="image"
        name="existingImage"
        hidden
        value="{{user.image}}"
      />
    </div>
    <div class="btn-edit">
      <a class="btn btn-validate">Update</a>
      <a class="btn btn-delete" href="/auth/logout">Log Out</a>
      <a
        class="btn btn-delete"
        href="/settings/delete/{{user._id}}"
      >Delete Profile</a>
    </div>
  </form>

</div>

<div class="blur-body"></div>