  <div class="edtiDiv">
    <div class="editDeleteBtn"><a href="/events/update/{{eventDetail._id}}">MODIFY</a></div>
    <div class="editDeleteBtn"><a id ="deleteEvent">DELETE</a></div>
  </div>

  <div class="evtDetailDiv">
    <img src="{{eventDetail.image}}" class="eventImg">
    <div class="eventDetail">
      <h2>{{eventDetail.title}}</h2><br>
      <p><b>Host : </b>{{eventDetail.host_id.name}}</p>
      <p><b>Date : </b>{{eventDetail.date}}</p>
      <p><b>Time : </b>{{eventDetail.time}}</p>
      <p><b>Address : </b>{{eventDetail.address}}</p>
      <p><b>Price : </b>{{eventDetail.price}}</p>
      <p><b>Detail : </b>{{eventDetail.description}}</p><br>
      <button id="joinBtnInDetail" data-id="{{eventDetail._id}}" data-currentuser="{{currentUser._id}}">JOIN!</button>
    </div>
  </div>

  {{!-- POPUP : Confirm msg before delete an event --}}

    <div id="confirmForDelete">
      <table>
        <th><tr class ="tdUnderline"><b>Are you sure you want to delete?</b></tr>
        </th>
        <tr>
          <td class ="tdUnderline"><a href="/events/delete/{{eventDetail._id}}" id="deleteYes">Yes, delete it</a></td>
          <td><a id="deleteNo">No, keep it</a></td>
        </tr>
      </table>
    </div>

  {{!-- POPUP : Member list who is joining--}}
    <div id="joinList">
      <div id="closeJoinList"><i class="far fa-times-circle"></i></div>
      <p><b>Who's coming?</b></p>
      <p>This event's host is <b>"{{eventDetail.host_id.name}}"</b></p>
      <hr>
        <ul id='list-members'>
          {{#each eventDetail.join}}
            <li>{{this.name}}</li>
          {{/each}}
        </ul>
    </div>