<h1>Event List</h1>

<div>
  <a href="/events/create">Create a NEW event!</a>
</div> 

<div class="allEvent">
  {{#each events}}
  <a href="/events/{{_id}}">
  <div class="eventDiv">
      <img src="{{this.image}}" class="eventImg">
      <div class="eventDetail">
        <h2>{{this.title}}</h2>
        <h3>Host : {{this.host_id.name}}</h3>
        <p>Date: {{this.date}}</p>
        <p>Time: {{this.time}}</p>
        <p>Address: {{this.address}}</p>
        <p>Price: {{this.price}}</p>
        <p class="descriptionView">{{this.description}}</p>
      </div>
    </div>
    </a>
  {{/each}}
</div>